body{
  margin: 0;
  padding: 0;
  @font-face{
    font-family: 'Billabong';
    src: url('Billabong.ttf');
    font-family: 'SegoeUI';
    src: url('Segoe UI.ttf');
    src: url('Segoe UI Italic.ttf');
    src: url('Segoe UI Bold.ttf');
    src: url('Segoe UI Bold Italic.ttf');
  }
}

li{
  list-style: none;
}

button:hover{cursor: pointer;}

.social-buttons button{
  display: inline-flex;
  border: none;
  height: 100px;
  width: 100px;
  color: #fff;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  background-color: #ea4335;
  border-radius: 50%;
  text-decoration: none;
}

.social-buttons{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI';
}

.social-buttons font{
  text-align: right;
  display: none;
}

.social-buttons a{
  display: inline-flex;
  font-size: 50px;
  width: 100px;
  height: 100px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  margin-left: 100px;
}

.insta::before{
  background: linear-gradient(120deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45);
  border-radius: 50%;
}

.twitter::before{
  background: #1da1f2;
  border-radius: 50%;
}

.face::before{
  background: #3b5998;
  border-radius: 50%;
}

.social-buttons li a:hover{
  font{
  display: inline-block;
  }
}

.social-buttons button:hover font{
  display: inline-block;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.email-form{
  display: none;
}
